{% extends 'base.html' %}
{% block navbarright %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="{{ url_for('user.login') }}">Login</a></li>
    <!--<li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>-->
</ul>
{% endblock %}
{% block page_content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
<h1 style="text-align:center">hello world!</h1>
{% endblock %}
