<form method="POST">
    {{ form.hidden_tag() }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ form.title(class_="form-control", placeholder="Title") }}</h3>
        </div>
        <div class="panel-body">
            {{ form.pagedown(class_="form-control", placeholder="Textarea", rows="16") }}
        </div>
        <div class="panel-footer text-right">{{ form.submit(class_="btn btn-primary btn-block") }}</div>
    </div>
</form>
