{% for post in posts %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ post.title }}</h3>
    </div>
    <div class="panel-body">
        <div class="list-group-item-text">
            {% if post.body_html %}
            {% if loop.length == 1 %}
            {{ post.body_html | safe }}
            {% else %}
            {{ post.body_html | safe | truncate(200) }}
            {% endif %}
            {% else %}
            {{ post.body | truncate(200) }}
            {% endif %}
            <a href="{{ url_for('blueprint_main.post', id=post.id) }}">More</a>
        </div>
    </div>
    <div class="panel-footer text-right">
        <a href="{{ url_for('.post', id=post.id) }}">
            <span class="label label-default">Permalink</span>
        </a>
        {% if current_user == post.author %}
        <a href="{{ url_for('.edit_post', id=post.id) }}">
            <span class="label label-primary">Edit</span>
        </a>
        <a href="{{ url_for('blueprint_main.delete_post', id=post.id) }}">
            <span class="label label-danger">Delete</span>
        </a>
        {% elif current_user.is_administrator() %}
        <a href="{{ url_for('.edit_post', id=post.id) }}">
            <span class="label label-warning">Edit [Admin]</span>
        </a>
        {% endif %}
        <!--{{ moment(post.timestamp).fromNow(refresh=True) }}-->
        {{ moment(post.timestamp).format('LLL') }}
    </div>
</div>
{% endfor %}
