{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block title %}Under The Mask{% endblock %}

{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-index" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">UTM</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-index">
            <ul class="nav navbar-nav">
                <li ><a href="{{ url_for('blueprint_main.index') }}">Home</a></li>
                <li><a href="{{ url_for('blueprint_main.index') }}">Vim</a></li>
                <li><a href="{{ url_for('blueprint_main.index') }}">Mac</a></li>
            </ul>
            {% block navbarright %}
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="/"><span class="glyphicon glyphicon glyphicon-pencil"></span></a></li>
                <li><a href="{{ url_for('blueprint_main.logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('blueprint_main.login') }}">Login</a></li>
                {% endif %}
            </ul>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{{ moment.include_moment() }}
{% endblock %}
