
{% extends "base.html" %}
{% block page_content %}
{% for filename in filename_list %}
<div class="col-xs-6 col-md-3">
    <div class="panel panel-default">
        <div class="panel-body panel-body-image">
            <a class="thumbnail" href="{{ url_for('blueprint_main.file', filename=filename) }}">
                <img src="{{ url_for('blueprint_main.file', filename=filename) }}" alt="">
            </a>
        </div>
        <div class="panel-footer">
            <a href="{{ url_for('blueprint_main.file_delete',filename=filename) }}">
            <span class="label label-danger">Delete</span>
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
