{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message }}
</div>
{% endfor %}

<div class="col-md-3">
  <form class="form-horizontal" method="POST" action="{{ url_for('blueprint_main.login') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <h2>Please sign in</h2>
    </div>
    <div class="form-group">
      {{ form.username(class_="form-control", placeholder="Username") }}
    </div>
    <div class="form-group">
      {{ form.password(class_="form-control", placeholder="Password") }}
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          {{ form.remember_me }} Remember me
        </label>
      </div>
    </div>
    <div class="form-group">
      {{ form.submit(class_="btn btn-primary") }}
    </div>
  </form>
</div>

{% endblock %}
